@charset "UTF-8";

li {text-align: center;}
body {background-color: black;}
h1 {color: aliceblue;text-align: center; font-size: 40px;font-family: Arial;} 
p {color: aliceblue;
text-align: center;}
a {color: aliceblue;
text-align: center;}
